.first-div{
    
    margin-bottom: 50px;
}


.second-div{
    margin-bottom: 50px;
}


.third-div{
    margin-bottom: 50px;
}

.btn{
    margin-top: 20px;
}

.gender-span{
    margin-right: 20px;
}

.first-name{
    height: 30px;
    border-radius:10px;
    /* width: 300px; */
}

.main-container{
    background-color: rgb(159, 148, 148);
    width: 30%;
}